@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}
#fondo{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-300;
    overflow:auto;
    background-color: #9fa4a7;
}
#portada{
    position: relative;

    top: 0;
    height:calc(100% - 54px);
    left: 0;
    width: 100%;

    /*background-color: #b3ffec;*/
    background-image: linear-gradient(0deg,#b3ffec 0%,#DCAE1D 100%);
    margin: 0;
}
.portadajs{
    left: 17%;
    width: 83%;

}
#portada h1{
    text-align: center;
    color: black;
    padding-top: 12%;
    font-size: 5em;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;

}
#portada h2{
    text-align: center;
}
nav{
    position: fixed;
    top: 54px;
    width: 16.75%;
    z-index: -250;


    left: 0;
    bottom: 0;

    /*border-radius: 25px;*/

    /*margin: 10px 0 10px 0.5%;*/
    /*border: 2px solid white;*/
}
.quitar{
    display: none;
 }
#menujs{
    position: sticky;
    top: 0;
    background-color: #d8be82;
    z-index: 50;

}
#menujs h2{
    display: inline-block;
    margin: -20px 0 -20px 38% ;
    font-size: 3em;
    text-align: center;
}
#menu,#menu5{
    background-color: rgb(216, 216, 216);
}
#menu2,#menu4{
    background-color: rgb(191, 191, 191);
}
#menu3{
    background-color: rgb(160, 162, 165);
}
.cuerp{
    position: relative;

    width: 80%;
    left: 0;
    margin: 0 0 30px 0;
    padding: 0;
}
#cuerpo5{
    margin-bottom: 0;
}
.cuerp h1{
    text-align: center;
    background-color: rgb(  165, 4, 4);
    margin: 0;
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 3em;
    border-radius: 10px 10px 0 0;
    color: white;
}
.conten p:last-child{
    margin-bottom: 0;
}
.conten p{
    margin-left: 10px;

}
.conten{
    position: relative;
    top: 0;
    right: 2%;
    left: 2%;
    width: 96%;
    border-radius: 10px;
    background-color: #daefff;
    /*overflow: auto;*/

    padding-bottom: 3em;
    border: 2px solid white;
}
.contenjs{
    left: 21%;
    width: 77%;
}
#cuerpo1{
    margin-top: -12%;
}


nav a{
    text-align: center;
    color: gray;
    font-size: 1.5em;
    display: block;
    text-decoration-line: none;
    border: 3px solid gray;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 10px;
}
nav a:first-child{
    margin-top: 40px;
}
nav a:hover{
    border: 3px solid white;
    background-color: gray;
    color: white;
}
.stick{
    position: sticky;
    top: 0;
    margin-top: 0;
    margin-bottom: 100%;
}
#logo{
    position: relative;
    width: 20%;
    left: 80%;
    margin: 0;
    /*background-color: black;*/

}
#logostick{

    position: sticky;
    top: 54px;
    margin-left: 80%;
    display: block;
}
#logostick img{
    width: 100%;

}
#menujs img{
    height: 50px;
}
#telonsal{
    position: fixed;
    width: 19.5%;
    right: 1%;
    bottom: 0;
    top: 50px;
    z-index: -100;
    background-image: url("../img/lateral1.jpg");
    background-repeat: no-repeat;
    background-size: cover;




}
#ALLcont{
    position: relative;
    width: 20%;
    left: 80%;
}
#creditos{
    position: sticky;
    top: 100% ;
    background-color: rgba(66,66,66,0.95);
    color: white;
    text-align: center;
    z-index: -200;

}
#creditos h2{
    font-size: 3em;
    padding-top: 1.5em;
    padding-bottom: 2.25em;
    margin-bottom: 0;
    margin-left: -20%;
    margin-top: 0;

}
#creditos h2:hover{
    background-color: white;
    color: black;
}
#creditos p{
    color: white;
    font-size: 2em;
    margin-top: 1em;
    margin-left: -20%;

}